<!DOCTYPE html>
	<html>
		<head>
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-145446390-1"></script>
			<script>
  			window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());

  			gtag('config', 'UA-145446390-1');
			</script>

			
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
			<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
		</head>
		<body>
			<nav>
	    		<ul>
				<li><font color=darkgreen> Andrew J. Holbrook</font></li>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/research">Research</a></li>
				<li><a href="/software">Software</a></li>
				<li><a href="/slides">Talks</a></li>
				<li><a href="/teaching">Teaching</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<!-- <footer>
	    		<ul>				</ul>
			</footer> -->
		</body>
	</html>
